
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent topbar-scrolled">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
    <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
    <i class="bi bi-person-workspace ms-4 d-none d-lg-flex align-items-center"><a class="ms-2" href="{% url 'system_manage:home' %}">Admin</a></i>
  </div>
</section>