{% extends "layouts/admin_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Editor Sample</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item active" >Editor Sample</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
  
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">Editor Sample Data Detaill</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:editor_sample' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a id="btn-delete" href="#"><i class="bi bi-trash-fill"></i> 삭제</a></div>
                </div>
            </div>
            <form id="data-form" method="post" action="">
                <div class="row mb-3"> 
                    <label for="Title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10"> 
                        <input type="text" id="title" name="title" class="form-control" value="{{ data.title }}" readonly>
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label for="id_content" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        {{ data.content|safe }}
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10"> 
                        <a type="button" class="btn btn-warning" href="{% url 'system_manage:editor_sample_edit' data.id %}">Edit</a>
                    </div>
                </div>
              </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'admin/js/editor_sample/script_editor_sample_detail.js' %}"></script>
{% endblock javascripts %}

