{% extends "layouts/admin_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Wine Master</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">Wine Master</li>
            <li class="breadcrumb-item active">Region</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
  
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Wine master 관리</h5>
            <p>Wine master Data를 검색, 생성, 수정 및 삭제할 수 있습니다.</p>
            <div>
              <a class="btn btn-primary" href="{% url 'system_manage:wine_master_create' %}">Create Data</a>
            </div>
          </div>
        </div>
        <div class="card" >
            <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col">
                    <h5 class="card-title">Data</h5>
                  </div>
                  <div class="col-auto mt-3">
                    <div class="search-bar">
                      <form class="search-form d-flex align-items-center" method="get" action="">
                        <select class="form-select form-select-sm" id="search_type" name="search_type" style="width: 150%;">
                          {% if search_type == 'name_kr' %}
                            <option value="name_kr" selected>한글이름</option>
                          {% else %}
                            <option value="name_kr">한글이름</option>
                          {% endif %}
                          {% if search_type == 'name_en' %}
                            <option value="name_en" selected>영어이름</option>
                          {% else %}
                            <option value="name_en">영어이름</option>
                          {% endif %}
                        </select>
                        <input class="form-control form-control-sm" type="text" name="search_keyword" placeholder="Search" value="{{search_keyword}}" style="width: 400%;">
                        <button class="btn btn-sm btn-outline-secondary" type="submit" id="btn-search"><i class="bi bi-search"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
                <table class='table table-hover'>
                  <thead>
                    <tr>
                      <th class='col-md-auto'>#</th>
                      <th class='col-md-auto'>와인제품번호</th>
                      <th class='col-md-auto'>와인명영문</th>
                        <th class='col-md-auto'>와인명한글</th>
                      <th class='col-md-auto'>와인설명</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if wine %}
                        {% for i in wine %}
                            <tr>
                                <td><a href="{% url 'system_manage:wine_master_detail' i.id %}">{{i.id}}</a></td>
                                <td>{{i.wineNum}}</td>
                                <td>{{i.wineNameEn}}</td>
                                <td>{{i.wineNameKr}}</td>
                                <td>{{i.wineDes}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">데이터가 없습니다.</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/script_pagination.js' %}"></script>
{% endblock javascripts %}
