{% extends "layouts/admin_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Data Create</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">Wine Master</li>
            <li class="breadcrumb-item active">country</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Wine master Create</h5>
            <form id="data-form" method="post" action="">
                <div class="row mb-3">
                    <label for="wine_num" class="col-sm-2 col-form-label">와인제품번호</label>
                    <div class="col-sm-10">
                        <input type="text" id="wine_num" name="wine_num" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="name_kr" class="col-sm-2 col-form-label">와인명한글</label>
                    <div class="col-sm-10">
                        <input type="text" id="name_kr" name="name_kr" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="name_en" class="col-sm-2 col-form-label">와인명영문</label>
                    <div class="col-sm-10">
                        <input type="text" id="name_en" name="name_en" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="image" class="col-sm-2 col-form-label">사진</label>
                    <div class="col-sm-10">
                        <input type="file" id="image" name="image" class="form-control" accept="image/*">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">와인설명</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">국가</label>
                    <div class="col-sm-3">
                         <select  class="form-select" aria-label="Default select example" id="selectBox" name="selectBox">
                          <option selected>국가을 선택 하세요</option>
                          {% for i in country%}
                          <option value="{{i.id}}">{{i.countryNameEn}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">지역</label>
                    <div class="col-sm-3">
                         <select  class="form-select" aria-label="Default select example" id="selectBox1" name="selectBox1">
                          <option selected>지역을 선택 하세요</option>
                             {% for i in region%}
                             <option value="{{i.id}}">{{i.regionNameEn}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">포도</label>
                    <div class="col-sm-3">
                         <select  class="form-select" aria-label="Default select example" id="selectBox2" name="selectBox2">
                          <option selected>포도을 선택 하세요</option>

                          {% for i in grape%}
                             <option value="{{i.id}}">{{i.grapeNameEn}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">와인 양조장</label>
                    <div class="col-sm-3">
                         <select  class="form-select" aria-label="Default select example" id="selectBox3" name="selectBox3">
                          <option selected>와인 양조장을 선택 하세요</option>
                          {% for i in winery%}
                             <option value="{{i.id}}">{{i.wineryNameEn}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'admin/js/wine_master/script_wine_create.js' %}"></script>
{% endblock javascripts %}

