{% extends "layouts/user_base.html" %}
{% load static %}

{% block main %}

<main id="main">
    <section id="contact" class="contact" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="container mt-5 mb-5">
              <div class="php-email-form text-center">
                <div class="section-header mb-5">
                    <h1>Forgot your password?</h1>
                    <p>Enter your email and we'll send you a reset link.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-4 col-lg-4">
                        <form id="emailForm" class="mb-3" method="post" action="{% url 'shopping_mall:password_reset' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3">
                                <button class="d-block w-100 mt-3" type="button" id="btn-submit">Send reset link</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="text-center"><button type="button" id="btn-login" onclick="location.href='{% url 'shopping_mall:login' %}'">Return to login</button></div>
             </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'user/js/user/script_password_reset.js' %}"></script> 
{% endblock javascripts %}