{% extends "layouts/user_base.html" %}
{% load static %}

{% block main %}

<main id="main">
    <section id="contact" class="contact" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="container mt-5 mb-5">
              <div class="php-email-form text-center">
                {% if validlink %}
                <div class="section-header mb-5">
                    <h1>Password Reset</h1>
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-sm-8 col-md-4 col-lg-4">
                        <form method="post" id="resetForm" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                            </div>
                            <div class="mb-3">
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                            </div>
                            <button class="btn btn-primary d-block w-100 mt-3" type="button" id="btn-submit">Set password</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="section-header mb-5">
                    <h1>404</h1>
                </div>
                <p class="mb-5">Make sure the address is correct and that the page hasn't moved. If you think this is a mistake, 
                    <a href="#">contact us</a>.</p>
                {% endif %}
                <hr>
             </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'user/js/user/script_password_reset_confirm.js' %}"></script> 
{% endblock javascripts %}