{% extends "layouts/user_base.html" %}
{% load static %}

{% block main %}

<main id="main">
    <section id="contact" class="contact" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="container mt-5 mb-5">
              <div class="php-email-form text-center">
                <div class="section-header mb-5">
                    <h1>Password Reset Email Has Been Sent</h1>
                </div>
                <p>If the account exists, a password setting guide has been sent to the email address entered by the user.</p>
                <p>You should be able to receive it soon.</p>
                <hr>
                <div class="text-center"><button type="button" id="btnlogin" onclick="location.href='{% url 'shopping_mall:login' %}'">Return to login</button></div>
             </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}