{% extends "layouts/admin_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Data</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">Wine Master</li>
            <li class="breadcrumb-item active">Region</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Wine Region Edit</h5>
            <form id="data-form" method="post" action="">
                <div class="row mb-3"> 
                    <label for="name_kr" class="col-sm-2 col-form-label">와인 지역 이름 (한글)</label>
                    <div class="col-sm-10"> 
                        <input type="text" id="name_kr" name="name_kr" class="form-control" value="{{data.countryNameKr}}">
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label for="name_en" class="col-sm-2 col-form-label">와인 지역 이름 (영어)</label>
                    <div class="col-sm-10"> 
                        <input type="text" id="name_en" name="name_en" class="form-control" value="{{data.countryNameEn}}">
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label for="image" class="col-sm-2 col-form-label">사진</label>
                    <div class="col-sm-10">
                        <input type="file"  name="image" class="form-control" accept="image/*">
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label for="description" class="col-sm-2 col-form-label">설명</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" name="description" rows="3">{{data.countryDes}}</textarea>
                    </div>
                </div>
                <div class="row mb-3"> 
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10"> 
                        <button type="button" id="btn-submit" class="btn btn-success">save</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'admin/js/wine_master/script_wine_country_edit.js' %}"></script>
{% endblock javascripts %}